.Battle {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-image: url(/image/battlegrounds/Battleground3.png);
    background-size: cover;
    image-rendering: pixelated;
  }

  /* Animations */
  @keyframes battle-damage-blink {
    to {
      visibility: hidden; 
    } 
  }
  .battle-damage-blink {
    animation: battle-damage-blink 0.4s steps(2, start) infinite;
  }
  
  /* Animação do ataque base */

  @keyframes battle-spin-right {
    0% { transform: translate3d(0,0,0) rotate(0deg) scale(1.5)}
    25% { transform: translate3d(155px,-30px,0) rotate(45deg) scale(1.5)}
    100% { transform: translate3d(0,0,0) scale(1.5)}
  }
  .battle-spin-right {
    animation: battle-spin-right 0.9s;
  }
  @keyframes battle-spin-left {
    0% { transform: translate3d(0,0,0) rotate(0deg) scale(1.5)}
    25% { transform: translate3d(-100%, 25%,0) rotate(45deg) scale(1.5)}
    100% { transform: translate3d(0,0,0) scale(1.5)}
  }
  .battle-spin-left {
    animation: battle-spin-left 0.9s;
  }

  /* Animação de movimentação ao usar magia */

  .hero-move-left {
    animation: move-left 1s forwards; /* Animação de movimento para a esquerda */
  }
  
  .enemy-move-right {
    animation: move-right 1s forwards; /* Animação de movimento para a direita */
  }
  
  @keyframes move-left {
    0% { transform: translateX(0) scale(1.5); }
    100% { transform: translateX(-40px) scale(1.5);} /* Movimento para a esquerda */
  }
  
  @keyframes move-right {
    0% { transform: translateX(0) scale(1.5); }
    100% { transform: translateX(40px) scale(1.5); } /* Movimento para a direita */
  }

/* Animação de fogo */
.fire-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/fire.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes fire-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de water */
.water-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/water.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes water-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de ice */
.ice-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/ice.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes ice-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de bolt */
.bolt-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/bolt.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes bolt-impact {
  0% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* Animação de drain */
.drain-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/drain.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes drain-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de flood */
.flood-animation {
  position: absolute;
  width: 120px; /* Ajuste conforme necessário */
  height: 120px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/flood.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes flood-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de thunder */
.thunder-animation {
  position: absolute;
  width: 120px; /* Ajuste conforme necessário */
  height: 120px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/thunder.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes thunder-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de flash */
.flash-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/flash.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes flash-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de sleep */
.sleep-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/sleep.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes sleep-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de blast */
.blast-animation {
  position: absolute;
  width: 120px; /* Ajuste conforme necessário */
  height: 120px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/blast.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes blast-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de vulcan */
.vulcan-animation {
  position: absolute;
  width: 120px; /* Ajuste conforme necessário */
  height: 120px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/vulcan.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes vulcan-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de crystal */
.crystal-animation {
  position: absolute;
  width: 120px; /* Ajuste conforme necessário */
  height: 120px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/crystal.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes crystal-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de sleeps */
.sleeps-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/sleeps.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes sleeps-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de blizzard */
.blizzard-animation {
  position: absolute;
  width: 120px; /* Ajuste conforme necessário */
  height: 120px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/blizzard.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes blizzard-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de vampirism */
.vampirism-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/vampirism.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes vampirism-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de fire-sword */
.fireSword-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/fireSword.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes fireSword-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de water-sword */
.waterSword-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/water.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes waterSword-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de ice-sword */
.iceSword-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/ice.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes iceSword-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de bolt-sword */
.boltSword-animation {
  position: absolute;
  width: 60px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/boltSword.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes boltSword-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Animação de Arrow */
.arrow-animation {
  position: absolute;
  width: 90px; /* Ajuste conforme necessário */
  height: 90px; /* Ajuste conforme necessário */
  background-image: url('/image/animations/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; /* Certifique-se de que a animação de fogo está acima dos sprites */
}

@keyframes arrow-impact {
  0% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* Impacto das animaçoes */
.impact {
  animation: fire-impact 1.5s forwards;
  animation: water-impact 1.5s forwards;
  animation: ice-impact 1.5s forwards;
  animation: bolt-impact 1.5s forwards;
  animation: drain-impact 1.5s forwards;
  animation: flood-impact 1.5s forwards;
  animation: thunder-impact 1.5s forwards;
  animation: flash-impact 1.5s forwards;
  animation: sleep-impact 1.5s forwards;
  animation: blast-impact 1.5s forwards;
  animation: vulcan-impact 1.5s forwards;
  animation: crystal-impact 1.5s forwards;
  animation: sleeps-impact 1.5s forwards; 
  animation: blizzard-impact 1.5s forwards;
  animation: vampirism-impact 1.5s forwards;
  animation: fireSword-impact 1.5s forwards;
  animation: waterSword-impact 1.5s forwards;
  animation: iceSword-impact 1.5s forwards;
  animation: boltSword-impact 1.5s forwards;
  animation: arrow-impact 1.5s forwards;
}

.damage-number {
  position: absolute;
  font-family: 'Arial', sans-serif; /* Use a fonte usada em Lufia 2 */
  font-size: 40px; /* Tamanho da fonte */
  color: #FFF5E1; /* Cor do texto vermelho */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao texto para torná-lo mais visível */
  z-index: 1000; /* Certifique-se de que o número de dano esteja acima de outros elementos */
  pointer-events: none; /* Garante que o número de dano não interfira com eventos de clique */
  animation: damageAnimation 1s linear forwards; /* Aplica a animação */
}

@keyframes damageAnimation {
  0% { transform: translateY(0) scale(1.5); opacity: 1; }
  100% { transform: translateY(-60px) scale(1.5); opacity: 0; }
}

.damage-number {
  animation: damageAnimation 3s ease-out forwards; /* Aplica a animação */
}