.Combatant {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.Combatant[data-team="hero"] {
  align-items: flex-end;
}

.hud {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-align: right;
}

.sprite {
  position: absolute;
}

.sprite[data-team="hero"] {
  transform: scale(1.5);
}

.sprite[data-team="enemy"] {
  transform: scale(1.5);
}

/* Normal Enemies Sprite */

.sprite[data-team="enemy"].enemy-e_e1 {
  left: 80px;
  bottom: 170px;
}

.sprite[data-team="enemy"].enemy-e_e2 {
  left: 150px;
  bottom: 120px;
}

.sprite[data-team="enemy"].enemy-e_e3 {
  left: 80px;
  bottom: 70px;
}

/* Mini Bosses Sprite */

.sprite[data-team="enemy"].enemy-e_m1 {
  left: 100px;
  bottom: 150px;
}

.sprite[data-team="enemy"].enemy-e_m2 {
  left: 200px;
  bottom: 70px;
}

.sprite[data-team="enemy"].enemy-e_m3 {
  left: 250px;
  bottom: 140px;
}

.sprite[data-team="enemy"].enemy-e_b1 {
  left: 60px;
  bottom: 70px;
  transform: scale(1.5);
}

/* Hero Sprites */

.sprite[data-team="hero"].hero-hero1 {
  right: 160px;
  bottom: 120px;
}

.sprite[data-team="hero"].hero-hero2 {
  right: 80px;
  bottom: 120px;
}

.sprite[data-team="hero"].hero-hero3 {
  right: 70px;
  bottom: 80px;
}

.sprite[data-team="hero"].hero-hero4 {
  right: 150px;
  bottom: 80px;
}

/* HUD Nome, HP e MP */

.hud .name {
  margin-top: 2px;
  font-size: 13px;
}

.hud .level {
  font-size: 13px;
  margin-top: 2px;
}

.hud .hp-text,
.hud .mp-text {
  font-size: 13px;
}

.hud .hp-text {
  color: red;
}

.hud .mp-text {
  color: blue;
}

/* Posição do HUD */

.Combatant.hero-hero1 {
  right: 100px;
  top: 0;
}

.Combatant.hero-hero2 {
  right: 0px;
  top: 0;
}

.Combatant.hero-hero3 {
  right: 0px;
  top: 90px;
}
.Combatant.hero-hero4 {
  right: 100px;
  top: 90px;
}

.Combatant.enemy-e_e1 {
  left: 0;
  top: 0;
}

.Combatant.enemy-e_e2 {
  left: 0;
  top: 50px;
}

.Combatant.enemy-e_e3 {
  left: 0;
  top: 100px;
}

.Combatant.enemy-e_m1 {
  left: 0;
  top: 0px;
}

.Combatant.enemy-e_m2 {
  left: 0;
  top: 50px;
}

.Combatant.enemy-e_m3 {
  left: 0;
  top: 100px;
}

.Combatant.enemy-e_b1 {
  left: 0;
  top: 0;
}




